@media only screen and (max-width:576px) {
    /*========= common css style start =========*/
    .container {
        width: 100%;
    }
    .common-h3{
        font-size: 35px;
    }
    /*========= common css style start =========*/
    /*=========== header area start  =============*/
    .header {
        flex-direction: column;
        padding: 40px 0px;
    }
    .logo {
        font-size: 3rem;
        font-weight: 700;
    }
    nav ul {
        flex-direction: column;
        gap: 30px;
        margin-top: 30px;
    }
    nav ul li a {
        font-size: 28px;
        display: block;
        text-align: center;
    }

    /*============ header area end  ===========*/
    /*============= banner section start  ============*/

    #banner-section {
        width: 100%;
        height: auto;
    }

    .banner-description-box {
        width: 90%;
        padding-top: 30px;
    }

    .banner-headline {
        font-size: 3.3rem;
    }

    .banner-p {
        font-size: 18px;
        text-align: justify;
    }

    .banner-btn {
        text-align: center;
        margin-top: 42px;
    }

    .banner-img {
        width: 98%;
        margin: 0 auto;
    }

    .banner-img>img {
        width: 100%;
        margin-top: 50px;
    }
    /*================= banner-section end  ==================*/
    /*================ overview section start ================== */
    #overview-section {
        width: 100%;
        height: auto;
    }

    .overview-container {
        width: 95%;
        height: auto;
        flex-direction: column-reverse;
    }
    .overview-img-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        gap: 20px;
        margin-top: 50px;
    }
     .overview-img {
        width: 100%;
        height: 100%;
    }
    .overview-img>img {
        width: 100%;
    }
    .overview-description-container {
        width: 95%;
        margin-top: 30px;
        text-align: center;
    }

    /*================ overview section end ================ */
    /*================ feature section start  ================*/

    #feature-section {
        width: 100%;
        height: auto;
    }
    .feature-container {
        width: 95%;
        height: auto;
        flex-direction: column;
        justify-content: center;

    }
    .feature-description-container {
        width: 100%;
        margin-top: 30px;
        height: 982px;
    }

    .feature-p {
        font-size: 18px;
        line-height: 26px;
    }
    .feature-card {
        width: 100%;
        height: auto;
    }
    .card-headline {
        margin: 10px 0px;
        font-size: 20px;
    }
    .feature-img-container {
        width: 100%;
    }
    .feature-img-container>img {
        width: 100%;
    }
    .big-btn {
        width: 150px;
        height: 100px;
        bottom: -20px;
        left: 10px;
    }
    .big-btn>h4 {
        font-size: 28px;
    }
    .big-btn p {
        font-size: 18px;
    }

    /*============== feature section end  =============*/
    /*=============== achivment section start============  */
    #achivment-section {
        max-width: 100%;
        height: auto;
    }

    .achivment-container {
        height: auto;
        margin-top: 50px;
        text-align: center;
    }
    .achivment-card-container {
        flex-direction: column;
        align-items: center;
        gap: 40px;
        justify-content: center;
        margin-top: 110px;
    }

    .achivment-card {
        width: 90%;
        height: 220px;
    }
    .achivment-card:hover {
        cursor: pointer;
        transform: scale(1.1);
    }

    /*================ achivment section end  ================*/
    /*================ sponsor section start  ================*/
    #sponsor-section {
        max-width: 100%;
        height: auto;
    }

    .sponsor-container {
        width: 95%;
        height: auto;
    }

    .sponsor-title {
        text-align: center;
        margin-top: 50px;
    }

    .sponsor-img-container {
        flex-wrap: wrap;
        gap: 75px;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
    }

    /*================ sponsor section end  ================*/
    /*================ contact section start  ===============*/
    #contact-section {
        max-width: 100%;
        height: auto;
        margin-top: 50px;
    }

    .form-container {
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-around;
        margin-top: 50px;
    }
    .form-img {
        display: none;
    }
    .form-input-container {
        width: 95%;

    }
    input[type='text'],
    input[type='email'] {
        width: 100%;
        height: auto;
    }

    textarea {
        width: 100%;
        height: 120px;
    }

    input[type="submit"] {
        width: 100%;
    }
    /*================= contact section end  ==============*/
    /*================= footer area start  ==============*/
    #footer {
        width: 100%;
        height: auto;
        margin-top: 50px;
    }
    .footer-container {
        width: 100%;
        /* height:auto; */
    }
    .footer-container> p{
        text-align: center;
        font-weight: 700;
    }
    /*============== footer area end ============== */
}